<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <application
    android:name=".AndroidTemplateApplication"
    android:allowBackup="true"
    android:icon="@android:drawable/sym_def_app_icon"
    android:label="android-template"
    android:supportsRtl="true"
    android:theme="@style/Theme.AndroidTemplate">
    <activity
      android:name=".MainActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="${SUPABASE_REDIRECT_HOST}"
          android:pathPrefix="${SUPABASE_REDIRECT_PATH_PREFIX}"
          android:scheme="${SUPABASE_REDIRECT_SCHEME}" />
      </intent-filter>
    </activity>
  </application>

</manifest>
